# Django
DJANGO_SECRET_KEY=change-me-in-production
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost,http://127.0.0.1
DJANGO_SETTINGS_MODULE=config.settings

# PostgreSQL
POSTGRES_DB=vulnreport
POSTGRES_USER=vulnreport
POSTGRES_PASSWORD=change-this-db-password
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Security
SECURE_SSL_REDIRECT=False
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False

# Email (activation des comptes Viewer)
# En local, tu peux utiliser: django.core.mail.backends.console.EmailBackend
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL=noreply@vulnreport.local

